@model EnterSchoolRegister.ViewModels.EntitiesViewModels.CourseStudentVm

@{
    var serialNumberF = "";
    @if (Model.StudentSerialNumber < 100) { serialNumberF += 0; }
    @if (Model.StudentSerialNumber < 10) { serialNumberF += 0; }
    serialNumberF += Model.StudentSerialNumber;
}

<tr>
    <td>@serialNumberF</td>
    <td>@Html.DisplayFor(cs => cs.StudentLast)</td>
    <td>@Html.DisplayFor(cs => cs.StudentFirst)</td>
</tr>