@using EnterSchoolRegister.ViewModels.EntitiesViewModels;

@model IEnumerable<CourseVm>

@{
    ViewData["Title"] = "Courses";
}

<h1>@ViewData["Title"]</h1>

<div id="course-section" class="row">


    <div class="main d-container col-md-6">
        @if (Model.Count<CourseVm>() == 0)
        {
            <p>There are not courses yet.</p>
        }
        else
        {
            @foreach (var course in Model)
            {
                @Html.Partial("_CoursePartial", course);
                <hr />
            }
        }
    </div>

    
    <div class="main op-container col-md-6">
        
        <div class="row justify-content-around">
            <div class="col-md-5">
                <button id="show-add-course-form" type="button" class="btn btn-outline">Add new course</button>
            </div>
            @if (Model.Count<CourseVm>() == 0)
            {
                <div class="col-md-5">
                    <button type="button" class="btn btn-outline" disabled>Remove a course</button>
                </div>
            }
            else
            {
                <div class="col-md-5">
                    <button id="show-remove-course-form" type="button" class="btn btn-outline">Remove a course</button>
                </div>
            }
        </div>

        <div id="add-course-form-container" style="margin-top: 20px">
            <hr />
            <form id="addCourseForm">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="Name">Name</label>
                        <input class="form-control" id="Name" placeholder="Type here the name of the new course." />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="NumberOfECTS">Number of ECTS</label>
                        <input type="number" min="1" class="form-control" id="NumberOfECTS" placeholder="For example 3" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="LecturesHours">Hours of lecture</label>
                        <input type="number" min="0" class="form-control" id="LecturesHours" placeholder="For example 15" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="LaboratoriesHours">Hours of laboratory</label>
                        <input type="number" min="0" class="form-control" id="LaboratoriesHours" placeholder="For example 18" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="Description">Description</label>
                        <textarea class="form-control" id="Description" placeholder="Type here the description of the new course."></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <button id="add-course" type="button" class="btn btn-outline-small">Add</button>
                    </div>
                </div>
            </form>
        </div>
    
        <div id="remove-course-form-container" style="margin-top: 20px">
            <hr />
            <form id="remove-course-form">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="Name">Select the course which has to be removed</label>
                        <select class="form-control" id="removeCourseName">
                            @foreach (var course in Model)
                            {
                                <option value="@course.NumberOfECTS">@course.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <button id="remove-course" type="button" class="btn btn-outline-small">Remove</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

