@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<br />
<p>
    This application is the project for "Advanced Internet Programming", from the Faculty of Mechanical Engineering
    and Computer Science at Częstochowa University of Technology. <br /> With this application you can:
    <ul>
        <li>Register/login with a role (teacher or parent)</li>
        <li>Add/remove courses</li>
        <li>Add/remove Students</li>
        <li>Add/Remove a grade to a student in a couse</li>
    </ul>
    <br />
    Developed by:
    <ul>
        <li>Parrilla Vincenzo, Computer Engineering (University of Calabria)</li>
        <li>Blanche Lilian, Computer Engineering (IUT Informatique Orléans)</li>
    </ul>

    <hr />

    <h3>@ViewData["Contacts"]</h3>

    <br />

    <address>
        <strong>Parrilla Vincenzo:</strong> <a href="mailto:vinc.parrilla@gmail.com">vinc.parrilla@gmail.com</a><br />
        <strong>Blanche Lilian:</strong> <a href="mailto:young.trust.77@gmail.com">young.trust.77@gmail.com</a>
    </address>
</p>
